*#
*.aadl_diagram
*.aadlbin
*.aaxl2
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.iml
*.ldb
*.lof
*.synctex.gz
*.toc
*versions.properties
*~
.#.*
.DS_Store
.bsp
.idea
.swp
TAGS
Thumbs.db
draft.fls
draft.log
draft.out
draft.pdf
main.log
main.out
main.pdf
target
/.settings/
